
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div>Merhaba</div>

<br>

<h3>MVC Kamp Tablo Örneği</h3>

<br />

<table class="table table-bordered">
    <tr>
        <th> ID</th>
        <th> Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Aciklama</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Aciklama</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Film</td>
        <td>Aciklama</td>
        <td>True</td>
    </tr>
</table>
<button class="btn btn-outline-info">Yeni kategori</button>
<button class="btn btn-outline-warning">Kategori Listesi</button>
<button class="btn btn-outline-danger">Kategori Açıklama</button>